<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h2>Admin – Manage Orders</h2>
    <a href="{{ url_for('admin_logout') }}">Logout</a>
    <table border="1" cellpadding="8">
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
      </tr>

      {% for o in orders %}
      <tr>
        <td>{{ o.order_id }}</td>
        <td>{{ o.customer_name }}</td>
        <td>₹{{ o.total_price }}</td>
        <td>{{ o.status }}</td>
        <td>{{ o.created_at }}</td>
        <td>
          {% if o.status == 'pending' %}
            <a href="{{ url_for('admin_update_order', order_id=o.order_id, new_status='approved') }}">✅ Approve</a>
            |
            <a href="{{ url_for('admin_update_order', order_id=o.order_id, new_status='cancelled') }}">❌ Cancel</a>
          {% else %}
            —
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>


