{% extends "layout.html" %}

{% block content %}
<div class="page-box">
  <h2>Admin Orders</h2>

  {% if orders %}
  <table class="data-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td>#{{ o.order_id }}</td>
        <td>{{ o.customer_name }}</td>
        <td>₹{{ o.total_price }}</td>

        <td>
          <span class="status {{ o.status }}">
            {{ o.status|title }}
          </span>
        </td>

        <td>{{ o.created_at }}</td>

        <td>
          <a
            href="{{ url_for('admin_update_order', order_id=o.order_id, new_status='approved') }}"
            class="btn small green"
          >
            Approve
          </a>

          <a
            href="{{ url_for('admin_update_order', order_id=o.order_id, new_status='cancelled') }}"
            class="btn small red"
          >
            Cancel
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No orders found.</p>
  {% endif %}
</div>
{% endblock %}
