{% extends "layout.html" %}

{% block content %}
<div class="page-box">
  <h2> My Cart</h2>
  {% if cart_items %}
    <table class="data-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>₹{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>₹{{ item.price * item.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart-actions">
      <a href="{{ url_for('place_order') }}" class="btn">
        Place Order
      </a>
    </div>

  {% else %}
    <p class="empty-text">Your cart is empty 🛒</p>
  {% endif %}
</div>
{% endblock %}
