{% extends "layout.html" %}

{% block content %}
<div class="page-box">
  <h2 class="page-title"> Available Products </h2>
  <p class="page-subtitle">Fresh vegetables directly from local farmers</p>
  <div class="product-grid">
    {% for p in products %}
      <div class="product-card">
        <img
          src="{{ url_for('static', filename='images/' ~ (p.image if p.image else 'default.jpg')) }}"
          alt="{{ p.name }}"
          class="product-img"
        >

        <h3>{{ p.name|title }}</h3>
        <p class="price">₹{{ p.price }} / kg</p>
        <p class="qty">Available: {{ p.quantity }} kg</p>

        <div class="card-actions">
          <a href="{{ url_for('product_details', product_id=p.id) }}" class="btn small">
            View
          </a>
          <a href="{{ url_for('add_to_cart', product_id=p.id) }}" class="btn small green">
            Add to Cart
          </a>
        </div>

      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
